*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    margin-left: 400px;
    width: 700px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}